html, body
  height 100%

body
  background-color gray

.container
  width 375px
  height 677px
  background-color #fff
  margin 2rem auto

input {
  -webkit-appearance button
  appearance button
  display inline-block
  height 44px
  font-size 15px
  margin 0
  padding 0 8px
  background #fff
  border 1px  solid #ccc
  border-radius 0
  width 100%
  line-height 32px
  -webkit-box-sizing border-box
  box-sizing border-box
  border-top 1px solid #ccc
  border-top-left-radius 3px
  border-top-right-radius 3px
}